*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 80px;
    background: #11101b;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}
.logo{
    font-family: serif;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

.hamburger{
    display: none;
}

.nav-bar ul{
    display: flex;
}

.nav-bar ul li a{
    display: block;
    color: #fff;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: 200;
    transition: 0.5s;
}

.nav-bar ul li a:hover{
    color: rgb(11, 12, 12);
    background: lightseagreen;
}

.nav-bar ul li a:active{
    color: rgb(20, 21, 22);
    background: lightseagreen;
}

@media only screen and (mix-width: 1320px){
    header{
        padding: 0 50px;
    }
}

@media only screen and (mix-width: 1100px){
    header{
        padding: 0 30px;
    }
}

@media only screen and (mix-width: 900px){
    .hamburger{
       display: block;
       cursor: pointer;
    }
    .hamburger .line{
        width: 30px;
        height: 5px;
        background: #9f4141;
        margin: 6px 0;
    }
}


